@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem 0;
    height: 100%;

    background: #EEEEEE;
}

.info h1 { color: #464547; }

.info h2 { color: #666666; }

.info p {
    padding: 0;
    text-align: left;
}

.info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 0 14rem;
    color: #666666;
}


.info button {
    height: 45px;
    width: 140px;

    color: white;

    background: #55C2D8;
    border-radius: 26px;

    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    font-size: 16px;
    text-transform: uppercase;

    transition: transform .2s ease;
}

.info button:hover {
    animation: rotateButton 1.5s linear;
    transform-origin: top left;
    /*transition: transform 1s ease;*/
}

@keyframes rotateButton {
    0%, 100% {
        transform: rotate(0deg) translateY(0);

    }
    30%, 70% {
        transform: rotate(15deg) translateY(2px);
    }
}

@media only screen and (max-width: 768px) {
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 4rem 0;

        background: #EEEEEE;
    }
    .info div {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 0 2rem;
    }
}